// Principales

$primary-color: #F1CCE3;
$secondary-color: #9F6262;

// Textes

$txt-color: #000000;
$txt-color-secondary: #ffffff;
$bg-color: #9F6262;
$line-height: 1.3rem;
$title-size: 2rem;
$txt-size: 1.25rem;

// Utilitaires

$border-color: #ffffff;
$border-radius: .9rem;